/* table component */
*{
  
}
#hummingbird{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}
#hummingbird-filter-div{

  position: absolute;
  top: 60%;
  right: 0%;
  background: white;
  /* border: 1px solid #ccc; */
  z-index: 1000;
  min-height: 100px;
  max-height: 350px;
  height: 100%;
  max-width: 150px;
  width: 100%;
  overflow-y: auto;
  border:1px solid black;
  border-radius: 0.5rem;
  color:rgba(0, 0, 0, 255);
  font-size: 0.7rem;
}
#hummingbird-filter-div::-webkit-scrollbar{
  width:5px;
  height:5px;
}
#hummingbird-filter-div::-webkit-scrollbar-corner{
  width:5px
}
#hummingbird-filter-div::-webkit-scrollbar-thumb {
  background: rgb(117, 117, 117); /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

#hummingbird-filter-div::-webkit-scrollbar-track {
  background: rgba(115, 115, 115, 0.1);  /*스크롤바 뒷 배경 색상*/
}
#hummingbird table {
  /* border-collapse: separate; */
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  /* border: 1px solid #bbb; */
  box-sizing: border-box;
  text-align:center;
  /* border-radius: 5px; */
  
}
#humming-table{
  width: 100%;
  
}

#hummingbird th {
  position: relative; 
  border-collapse: collapse;
  /* padding: 10px;  */
  /* border: 1px solid #bbb; */
  box-sizing: border-box;
  /* border-bottom: 1px solid #aaa; */
  color:#999;
  /* border: 2px solid rgba(255, 255, 255, 0.1); */
  padding:0;
  border:0;
  margin:0;
} 

#hummingbird #humming-table{
  width:100%;
  min-width: 0;
  border-collapse: collapse;
  box-sizing: border-box;
}

#hummingbird #page-size-changer-selectbox{
  /* background-color: red; */
  transition: all 0.1s ease;
}
#hummingbird #page-size-changer-selectbox:focus{
  /* background-color: blue; */
  border: 2px solid rgba(244, 150, 68, 0.5);
  
}

#hummingbird th::after {
  border-collapse: collapse;
  content: "";
  position: absolute;
  top: 0%; 
  bottom: 0%; 
  right: 0;
  /* width: 1px;  */
  background-color: #bbb; 
}
#hummingbird th:last-child::after {
  content: none;
  border-collapse: collapse; 
}
#hummingbird td {
  border-collapse: collapse;
  /* border: 1px solid #bbb; */
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  padding:0;
  /* border:0; */
  margin:0;
}
#hummingbird td + td {
  width: auto;
}
#hummingbird #table-row-area tr:hover {
  background-color: #ccc !important; /* Change this color as needed */
}
#hummingbird table tr:first-child th:first-child {
  border-top-left-radius: 5px;
  /* border-top: 1px solid #bbb;
  border-left: 1px; */
}

#hummingbird table tr:first-child th:last-child {
  border-top-right-radius: 5px;
}

#hummingbird table th:last-child {
  /* border-right: 0px; */
  /* border-radius: 15px; */
}

#hummingbird table tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

#hummingbird table tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

#hummingbird .group-header {
  /* border-right: 1px solid black; */
}

#hummingbird .group-header:last-child {
  /* border-right: none; */
}

/* Zebra striping */
#hummingbird .zebra tr:nth-child(odd) {
  background-color: #fff; /* White color for odd rows */
}

#hummingbird .zebra tr:nth-child(even) {
  background-color: #eee; /* Grey color for even rows */
}

/* Row hover effect */
#hummingbird .zebra tr:hover {
  background-color: #999 !important; /* Change this color as needed */
}
/* pagination css */
/* right arrow */
#hummingbird .arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid black;
}

#hummingbird .double-arrow-right {
  display: inline-block;
  position: relative;
  width: 20px; /* Adjust width as needed */
  height: 10px; /* Adjust height as needed */
}

#hummingbird .double-arrow-right::before,
#hummingbird .double-arrow-right::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

#hummingbird .double-arrow-right::before {
  border-left: 10px solid black;
  left: 0;
}

#hummingbird .double-arrow-right::after {
  border-left: 10px solid black;
  left: 7px; /* Adjust left position to match the width of one arrow */
}

/* left arrow */
#hummingbird .arrow-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid black;
}

#hummingbird .double-arrow-left {
  display: inline-block;
  position: relative;
  width: 20px; /* Adjust width as needed */
  height: 10px; /* Adjust height as needed */
}

#hummingbird .double-arrow-left::after,
#hummingbird .double-arrow-left::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

#hummingbird .double-arrow-left::after {
  border-right: 10px solid black;
  left: 0;
}

#hummingbird .double-arrow-left::before {
  border-right: 10px solid black;
  right: 3px; /* Adjust left position to match the width of one arrow */
}

#hummingbird .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh; /* Viewport Height */
  padding: 0 10px; /* Optional padding */
}

#hummingbird .paginationNum {
  text-align: center;
  background-color: rgba(255,255, 255, 0);
  width: 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 50%;
}

#hummingbird .paginationNum.selected {
  background-color: #3A3B50;
  border: 2px solid #3A3B50;
  color: white;
  /* border-radius: 3px; */
  margin: 5px;
  cursor: pointer;
  border-radius: 50%;
}

#hummingbird td:hover::after {
  content: attr(title);
  position: absolute;
  left: 0;
  bottom: 100%;
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 10;
  
}